@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif !important;
}

html, body, #root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif !important;
  background: #0c0e09;
}

button {
  -webkit-tap-highlight-color: transparent;
}
